* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #fff9f4;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
header .container img {
  height: 130px;
}
header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}
header .container nav ul li {
  transition: 0.3s;
}

header .container nav ul li:hover {
  box-shadow: inset 0 0 0 2px rgb(10, 105, 68);
  padding: 10px 20px;
}
header .container nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 18px;
}

.landing {
  display: flex;
  position: relative;
  height: calc(100vh - 130px);
}

.landing .image {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.landing .image img {
  max-width: 600px;
  height: 300px; /* Adjust height */
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: relative;
}

.landing .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(166, 150, 46);
  left: -10px;
  z-index: -1;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 105, 68, 0.2);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.intro-text {
  position: relative;
  z-index: 1;
  max-width: 700px;
  text-align: left;
}

.landing .container .special-h1 {
  font-size: 48px;
  color: #0a6944;
  margin: 0 0 20px;
  position: relative;
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.intro-text p {
  font-size: 20px;
  line-height: 1.5;
  margin: 5px 0 0;
  color: #666;
  text-shadow: 1px 0px #333;
}

.all {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.heading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.special-heading {
  color: #333;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  display: inline-block;
}

.special-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 4px;

  background: linear-gradient(
    90deg,
    rgba(0, 146, 77, 1),
    rgba(0, 146, 77, 0.5),
    rgba(0, 146, 77, 1)
  );
  border-radius: 2px;
  animation: expandLine 2s infinite;
}

@keyframes expandLine {
  0%,
  100% {
    width: 50px;
  }
  50% {
    width: 100%;
  }
}

.all {
  text-align: center;
}
header .container nav input[type="checkbox"] {
  display: none;
}
header nav .toggle-menu {
  display: none;
}
@media (max-width: 767px) {
  header nav .toggle-menu {
    display: block;
    font-size: 35px;
    cursor: pointer;
  }
  header .container nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px 0;
    list-style: none;
    z-index: 4;
  }
  header .container nav ul li:not(:last-child) a {
    border-bottom: 1px solid white;
  }
  header .container nav ul li a {
    padding: 15px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    position: relative;
  }
  header .container nav ul li {
    transition: 0.3s;
    width: 100%;
  }

  header .container nav ul li:hover {
    box-shadow: inset 0 0 0 2px transparent;
  }
  header .container nav input[type="checkbox"]:checked ~ ul {
    display: block;
  }
  .landing::before {
    transform: skewY(0);
  }
  .landing .intro-text {
    position: absolute;
    top: 7%;
    max-width: 355px;
    left: 10px;
    text-align: center;
  }
  .landing .intro-text .special-h1 {
    font-size: 50px;
  }
  .landing .intro-text p {
    font-size: 21px;
  }
  .landing .image img {
    height: 250px;
  }

  .landing .image {
    right: 4%;
    top: 54%;
    transform: translateY(0%);
  }
}
@media (max-width: 992px) {
  .intro-text p {
    max-width: 500px;
  }
}
/* start about content */
section .container .about-content-1,
section .container .about-content-2 {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section .container .about-content-2 {
  gap: 40px;
}
section .container .about-content-2 {
  flex-direction: row-reverse;
}
section .about-content-1 .image,
section .about-content-2 .image {
  position: relative;
  width: 250px;
  height: 375px;
}

section .about-content-2 .image img {
  width: 270px;
}

section .about-content-1 .image::before,
section .about-content-2 .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 40px);
  top: -40px;
  z-index: -1;
}
@media (max-width: 767px) {
  section .about-content-1 .image {
    top: 35px;
    left: -42px;
  }
  section .about-content-2 .image.two {
    top: 60px;
  }
  section .about-content-1 .image::before,
  section .about-content-2 .image::before {
    top: -34px;
  }
}

section .about-content-1 .image::before {
  left: 0px;
}

section .about-content-2 .image::before {
  right: 0px;
}

section .about-content-1 .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 112px;
  height: 150px;
  border-right: 30px solid rgb(0, 146, 77);
  border-top: 40px solid rgb(0, 146, 77);
  z-index: -1;
  right: -86px;
}
@media (max-width: 767px) {
  section .about-content-1 .image::after,
  section .about-content-2 .image::after {
    top: -19px;
  }
}
section .about-content-2 .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 112px;
  height: 150px;
  border-left: 30px solid rgb(0, 146, 77);
  border-top: 40px solid rgb(0, 146, 77);
  z-index: -1;
  left: -76px;
}

section .about-content-1 .image img,
section .about-content-2 .image img {
  width: 275px;
  height: 100%;
  position: absolute;
  top: -17px;
  left: 32px;
}
@media (max-width: 767px) {
  section .about-content-1 .image img,
  section .about-content-2 .image img {
    top: 0px;
  }
}

section .about-content-2 .image img {
  left: -47px;
}

section .about-content-2 .image img {
  width: 270px;
}
section .about-content-1 .text,
section .about-content-2 .text {
  flex-basis: calc(100% - 500px);
}

section .about-content-1 .text p,
section .about-content-2 .text p {
  line-height: 2;
  color: #777;
}

section .container .about-content-1 .special-h3,
section .container .about-content-2 .special-h3 {
  font-size: 30px;
  color: #0a6944;
  margin: 0 0 20px;
  position: relative;
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
@media (max-width: 992px) {
  /* Container adjustments */
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Adjusting the layout of the About content */
  .about-content-1,
  .about-content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Image adjustments */
  .about-content-1 .image img,
  .about-content-2 .image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  /* Text adjustments */
  .about-content-1 .text,
  .about-content-2 .text {
    max-width: 100%;
  }

  .about-content-1 .text h3,
  .about-content-2 .text h3 {
    top: 20px;
  }

  .about-content-1 .text p,
  .about-content-2 .text p {
    font-size: 18px;
    line-height: 1.6;
  }
  section .container .about-content-2 .text p {
    width: 500px;
  }
}
@media (max-width: 767px) {
  section .container .about-content-1 .special-h3,
  section .container .about-content-2 .special-h3 {
    font-size: 20px;
    width: 333px;
    top: -443px;
    text-align: center;
  }
  section .container .about-content-2 .special-h3.two {
    width: 300px;
    top: -500px;
    left: -15px;
  }
  section .about-content-1 .text p,
  section .about-content-2 .text p {
    max-width: fit-content;
    padding-right: 25px;
    text-align: center;
  }
}
section {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* start activities */

.activities .activities-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 60px;
}

.activities .activities-content .card {
  background-color: white;
  padding: 20px 0 0 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.activities .activities-content .card .image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.activities .activities-content .card .image::before,
.activities .activities-content .card .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.activities .activities-content .card .image::before {
  border: 12px solid rgb(202, 147, 35);
  top: -21px;
  right: -7px;
}

.activities .activities-content .card .image::after {
  border: 12px solid rgb(0, 146, 77);
  top: -7px;
  right: -22px;
}
.activities .activities-content .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que l'image couvre tout le cadre sans distorsion */
}

.activities .activities-content .card .info {
  padding: 20px;
  text-align: center; /* Centre le texte dans la carte */
}

.activities .activities-content .card .info h3 {
  margin: 10px 0; /* Ajoute de l'espace autour du titre */
  font-size: 1.2em; /* Augmente légèrement la taille du titre */
}

.activities .activities-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}

/* end activities */
/* start facilities */
section#facilities {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

#facilities .container .facilities-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: visible;
  margin-top: 60px;
}
@media (max-width: 767px) {
  #facilities .container .facilities-content {
    height: auto;
    overflow: auto;
  }
}
.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .left-column,
  .right-column {
    display: none;
  }
}
.image-box {
  width: 150px;
  height: 150px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  height: 500px;
}
@media (max-width: 767px) {
  .center-box {
    max-width: 100%;
  }
}
.facility-name {
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  line-height: 2;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 8px;
  border: 2px solid rgba(202, 147, 35, 0.5); /* Bordure fine et subtile */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.facility-name.green {
  border: 2px solid rgba(0, 146, 77, 0.7) !important;
}
.facility-name.green:hover {
  border-color: rgba(
    202,
    147,
    35,
    0.5
  ) !important; /* Bordure plus marquée au survol */
}

.facility-name:hover {
  border-color: rgba(0, 146, 77, 0.7); /* Bordure plus marquée au survol */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .center-box {
    gap: 5px;
    padding: 10px;
  }
  .left-column,
  .right-column {
    display: none;
  }
}
@media (min-width: 992px) {
  .left-column,
  .right-column {
    display: flex;
  }
}

/* end facilities */

/* start services */
section#services {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

#services .container .services-types {
  display: flex;
  justify-content: space-between;
  gap: 70px; /* Espace entre les deux catégories */
}

.service-category {
  flex: 1;
}
/* .service-category.two .service-item {
  margin-bottom: 25px;
} */
.service-category .category-title {
  color: rgba(0, 146, 77);
  position: relative;
  padding-left: 20px; /* Espace pour la ligne verte */
  margin-bottom: 20px;
  left: -16px;
}

.category-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 5px;
  height: 20px;
  background-color: rgba(0, 146, 77);
  transform: translateY(-50%);
}

.service-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 40px; /* Space between each service-item */
}
#services .container .services-types {
  margin-top: 60px;
}
.service-name {
  display: block;
  width: 105px;
  font-weight: bold;
  color: #333;
  position: relative;
  flex: 0 0 auto;
}
.service-name.two {
  width: fit-content;
}
.service-name::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  width: 5px;
  height: 30px;
  background-color: rgb(202, 147, 35);
  transform: translateY(-50%);
}

.service-description {
  color: #666;
  margin: 0;
}
/* Responsive for max-width: 992px */
@media (max-width: 992px) {
  #services .container .services-types {
    flex-direction: column;
    gap: 40px; /* Reduce the gap when stacked */
    /* align-items: center; */
  }

  .service-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; /* Reduce the gap between name and description */
  }

  .service-name {
    width: 100%; /* Allow the name to take full width */
  }
}

/* Responsive for max-width: 768px */
@media (max-width: 768px) {
  #services .container .services-types {
    flex-direction: column;
    gap: 40px; /* Reduce the gap when stacked */
    align-items: center;
  }
  section#services {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .service-category .category-title {
    padding-left: 15px; /* Reduce padding for smaller screens */
    width: 300px;
  }

  .service-item {
    margin-bottom: 30px; /* Adjust spacing between items */
    width: 300px;
  }

  .service-name {
    font-size: 16px; /* Adjust font size */
    width: auto; /* Make it adapt to content */
  }

  .service-description {
    font-size: 14px; /* Adjust font size */
  }
}
/* end services */
/* startcontact */
#contact .container {
  position: relative;
  color: rgba(255, 255, 255, 1); /* Couleur du texte blanc */
  padding: 20px;
  text-align: center; /* Centrer le texte */
  overflow: hidden;
}

#contact .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 146, 77, 1); /* Couleur de fond verte */
  border-radius: 10px;
  z-index: -1; /* Augmenter la hauteur pour couvrir le header */
}

.contact-info {
  max-width: 800px; /* Limiter la largeur pour éviter une étendue excessive */
  margin: 0 auto; /* Centrer le conteneur */
  padding: 20px;
  border-radius: 15%; /* Coins arrondis */
  background-color: rgba(255, 255, 255, 0.9); /* Fond blanc transparent */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre portée */
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-info:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-info p {
  margin: 10px 0; /* Marges raisonnables entre les paragraphes */
  color: rgba(0, 146, 77, 1); /* Couleur du texte vert */
  font-size: 1.1em;
}

.contact-info p strong {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 10px;
  color: rgba(202, 147, 35, 1); /* Couleur du texte jaune */
}

.contact-info a {
  color: rgba(0, 146, 77, 1); /* Couleur des liens verts */
  text-decoration: none;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: rgba(202, 147, 35, 1); /* Changement de couleur au survol */
  text-decoration: underline;
}

/* end contact */

section#contact {
  margin-bottom: 0px;
}

@media (max-width: 992px) {
  .contact-info p {
    line-height: 1.8;
  }
  .contact-info p strong {
    margin-right: 0;
    max-width: fit-content;
  }
}
